@page "/poll/{id}"
@using BlazorPoll.Client.Services
@using BlazorPoll.Shared.Dtos
@using Microsoft.AspNetCore.SignalR.Client
@inject IPollService PollService;
@inject ICommentsService CommentsService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@implements IAsyncDisposable

@if (Poll == null)
{
    <NoPollFound />
}
else
{
<div class="poll-details-wrapper">
    <VisualizePoll Poll="@Poll" @ref="VisualizePollChild"></VisualizePoll>
    <h2 class="question-header-details">@Poll.Question</h2>

    @if (Poll.Author != null)
    {
        <div class="question-header-author">Asked by <b>@Poll.Author.UserName</b></div>
    }
    else
    {
        <div class="question-header-author">Asked by Anonymous</div>
    }

    @if (!Copied)
    {
        <button class="copy-clipboard-wrapper" @onclick="CopyToClipBoard">
            <span class="far fa-copy copy-icon"></span><span>Copy link to clipboard</span>
        </button>

    }
    else
    {
        <span class="copied-text">Copied!</span>
    }

    @if (!String.IsNullOrEmpty(Poll.Description))
    {
        <div class="poll-description">@Poll.Description</div>
    }

    @if (!Answered)
    {
        <div class="answers-wrapper">
            @if (Poll.IsMultipleChoice)
            {
                <h3>Select multiple answers:</h3>
                <div class="answers-content-wrapper">
                    @foreach (var answer in Poll.Answers)
                    {
                        <VoteAnswer IsMultipleChoice="true" OnSelectionChangedMultiple="@OnMultipleSelectionChange" Answer="@answer"/>
                    }
                </div>
                <button class="btn btn-primary button-send-answer" type="submit" @onclick="SubmitAnswer">
                    @if (IsLoading)
                    {
                        <Bounce Size="20px" Color="#fff" class="@(IsLoading ? "loading-visible" : "loading-invisible")" />
                    }
                    else
                    {
                        <span class="@(!IsLoading ? "loading-visible" : "loading-invisible")">Submit answer</span>
                    }
                </button>
            }
            else
            {
                <h3 class="select-answer-header">Select an answer:</h3>
                <EditForm Model="Poll.Answers">
                    <div class="answers-content-wrapper">
                        @foreach (var answer in Poll.Answers)
                        {
                            <VoteAnswer IsMultipleChoice="false" Answer="@answer" OnSelectionChangedSingle="@(() => OnSingleSelectionChanged(answer))"></VoteAnswer>
                        }
                    </div>
                    <button class="btn btn-primary button-send-answer" type="submit" @onclick="SubmitAnswer">
                        @if (IsLoading)
                        {
                            <Bounce Size="20px" Color="#fff" class="@(IsLoading ? "loading-visible" : "loading-invisible")" />
                        }
                        else
                        {
                            <span class="@(!IsLoading ? "loading-visible" : "loading-invisible")">Submit answer</span>
                        }
                    </button>
                </EditForm>
            }
        </div>
    }
    else
    {
        <Answered />
    }

    <CommentSection Poll="@Poll" Comments="@PaginatedComments" OnPageChanged="@((int page) => LoadPaginatedComments(page))" />
</div>
}