@page "/poll/{id}"
@using BlazorPoll.Client.Services
@using Microsoft.AspNetCore.SignalR.Client
@inject IPollService PollService;
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

@if (Poll == null)
{
    <NoPollFound />
}
else
{
    <div class="poll-details-wrapper">
        <VisualizePoll Poll="@Poll" @ref="VisualizePollChild"></VisualizePoll>
        <h2 class="question-header-details">@Poll.Question</h2>

        <button class="copy-clipboard-wrapper">
            <span class="far fa-copy copy-icon"></span>Copy link to clipboard
        </button>

        @if (!String.IsNullOrEmpty(Poll.Description))
        {
            <div class="poll-description">@Poll.Description</div>
        }
        
        @if (!Answered)
        {
            <div class="answers-wrapper">
                @if (Poll.IsMultipleChoice)
                {
                    <h3>Select multiple answers:</h3>
                    <div class="answers-content-wrapper">
                        @foreach (var answer in Poll.Answers)
                        {
                            <VoteAnswer IsMultipleChoice="true" Answer="@answer"></VoteAnswer>
                        }
                    </div>
                }
                else
                {
                    <h3 class="select-answer-header">Select an answer:</h3>
                    <EditForm Model="Poll.Answers">
                        <div class="answers-content-wrapper">
                            @foreach (var answer in Poll.Answers)
                            {
                                <VoteAnswer IsMultipleChoice="false" Answer="@answer" OnSelectionChanged="@(() => OnRadioSelectionChanged(answer))"></VoteAnswer>
                            }
                        </div>
                        <button class="btn btn-primary button-send-answer" type="submit" @onclick="SubmitAnswer">
                            @if (IsLoading)
                            {
                                <Bounce Size="20px" Color="#fff" class="@(IsLoading ? "loading-visible" : "loading-invisible")"/>
                            }
                            else
                            {
                                <span class="@(!IsLoading ? "loading-visible" : "loading-invisible")">Submit answer</span>
                            }
                        </button>
                    </EditForm>
                }
            </div>
        }
        else
        {
            <Answered />
        }


    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    public Poll Poll { get; set; }
    public bool Answered { get; set; } = false;
    private VisualizePoll VisualizePollChild;
    private bool IsLoading { get; set; } = false;
    private IPollHubService _pollHubService;
    private Answer SelectedRadioAnswer { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Guid guidFromParams = Guid.Empty;

        try
        {
            guidFromParams = new Guid(Id);
            Poll = await GetPollByIdAsync(guidFromParams);
        }
        catch (Exception e)
        {
            // When Guid creation or http call fails
            Poll = null;
        }

        //        Poll = new Poll()
        //        {
        //            Question = "Is this a poll?",
        //            Answers = new List<Answer>()
        //{
        //                new Answer() {Id = 0, Count = 0, Content = "This is not an answer."},
        //                new Answer() {Id = 1, Count = 0, Content = "This is another answer!"},
        //                new Answer() {Id = 2, Count = 0, Content = "Is is not a poll."}
        //            },
        //            Description = "This is a very long description indeed please make it even a bit longer. Sometimes i feel the Bacc stress oh no"
        //                + "This is a very long description indeed please make it even a bit longer. Sometimes i feel the Bacc stress oh no"
        //                + "This is a very long description indeed please make it even a bit longer. Sometimes i feel the Bacc stress oh no"
        //        };

        if (Poll != null)
        {
            _pollHubService = new PollHubService(NavigationManager.ToAbsoluteUri("/pollhub").ToString());
            await _pollHubService.StartPollHubConnection(Poll);

            _pollHubService.PollChanged += async (poll) => await VisualizePollChild.UpdatePoll(poll);
        }
    }


    private async Task<Poll> GetPollByIdAsync(Guid id)
    {
        return await PollService.GetPollById(id);
    }

    public async ValueTask DisposeAsync()
    {
        await _pollHubService.Dispose(Poll);
    }

    /// <summary>
    /// Set selected item for single choice polls
    /// </summary>
    /// <param name="answer">The answer to set to currently selected</param>
    public void OnRadioSelectionChanged(Answer answer)
    {
        SelectedRadioAnswer = answer;
    }

    private async Task SubmitAnswer()
    {
        IsLoading = true;
        var result = await PollService.SendSinglePollAnswer(Poll, SelectedRadioAnswer, _pollHubService);
        IsLoading = false;

        if (result)
            Answered = true;
    }

}