@using Humanizer
@inject NavigationManager NavigationManager

<h3 class="profile-header">Polls you created</h3>
<div class="profile-header-stats">
    <span class="fa fa-chart-bar profile-icon"></span> @Polls.Count
</div>

@if (Polls?.Count == 0)
{
    <span>You have not created any polls yet.</span>
}
else
{
    foreach (var poll in Polls)
    {
        <div class="card card-poll">
            <div class="card-header card-poll-header">
                    <span>@poll.CreatedAt.Humanize(utcDate: false)</span>
                    <span>@GetVotesSum(poll) Votes, @poll.Comments.Count @GetCommentString(poll)</span>
            </div>
            <div class="card-body poll-body" @onclick="() => NavigateToPollDetails(poll)">
                <b>@poll.Question</b>
            </div>
        </div>
    }
}
@code {
    [Parameter]
    public List<Poll> Polls { get; set; }

    public int GetVotesSum(Poll poll)
    {
        return poll.Answers.Sum(answer => answer.Count);
    }

    public string GetCommentString(Poll poll)
    {
        return poll.Comments.Count == 1 ? "Comment" : "Comments";
    }

    private string GetPollUrl(Poll poll)
    {
        return $"/poll/{poll.Id}";
    }


    private void NavigateToPollDetails(Poll poll)
    {
        NavigationManager.NavigateTo(GetPollUrl(poll));
    }
}


